/* ejercicio 4 */
/* .title {
  list-style: none;
} */

/* ejercicio 5 */

/* ejercicio 8 */
/* .button {
  background-color: aqua;
  padding: 10px 20px 10px 20px;
  border-color: black;
}
.opacity {
  opacity: 0.2;
} */
